div {
  transition: all 0.3s ease-out;
}

.slide {
  width: 1454px;
  height: 653px;
  margin: 11.3rem auto;
}

.window {
  position: relative;
  width: 1454px;
  height: 653px;

  overflow: hidden;
}

.flexbox {
  display: flex;
}

.pagination_container {
  position: absolute;
  display: flex;
  right: 5.2rem;
  bottom: 3.5rem;
  z-index: 5;
}

.pagination {
  display: flex;
  color: white;
  background: rgba(50, 50, 50, 0.8);
  border-radius: 36px;
  font-size: 24px;
  padding: 0rem 2.3rem 0.2rem 2.3rem;
}

.pagination * {
  margin: auto;
  font-weight: 400;
}

.pagination > span {
  line-height: 35px;
  align-items: center;
  letter-spacing: -0.04em;
}

.pos {
  margin-left: 1rem;
  margin-right: 1rem;
}

.pos_current {
  font-weight: 900;
}

.pos_slash {
  margin: 0 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_left {
  margin: 1.2rem 2rem;
}

.btn_right {
  margin: 1.2rem 2rem;
}
