.slide {
  width: 1454px;
  height: 653px;
  margin: 10vh auto;
}

div {
  transition: all 0.3s ease-out;
}

.window {
  width: 1454px;
  height: 653px;

  overflow: hidden;
}

.flexbox {
  display: flex;
}

.img {
  width: 1454px;
  height: 653px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  flex: none;
  border-radius: 30px;
}

.content {
  margin-top: 6vh;
  margin-left: 6vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
  z-index: 2;
}

.content * {
  color: white;
}

.recommandTag * {
  margin-top: 1vh;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
}

.country_title {
  left: 8.94%;
  right: 65.54%;
  top: 17.46%;
  bottom: 3px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 84px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title_text {
  left: 9.01%;
  right: 72.56%;
  top: 3px;
  bottom: 63.4%;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
}

.aboveContent {
  margin-top: 7vh;
}

.above_li {
  margin: 0;
  display: flex;
}

.above_li * {
  padding: 0.3vh 1vw;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
}

.pagination_container {
  display: flex;
}

.pagination {
  display: flex;
  color: white;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0vh 1vh;
  font-size: 21px;
}

.pagination * {
  margin: 0.05vh 0.15vw;
  font-weight: lighter;
}

.position {
  font-weight: bold;
}
